# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
**/node_modules/

# Production Build
dist/
**/dist/

# Environment Variables
.env
.env.local
**/ .env
**/.env.local
**/.env

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.sln
